doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  top#telly
    a.button(href='/telly')
  top#films
    a.button Films
  top#mujaks
    a.button Mujaks
  top#searchbar
    a.button SearchMe
  body
    block content
