doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    // '?' hack to convince Firefox it's not "caching" the fact that it's decided
    // there's no favicon...because F*CKING STUPID IDIOTS AT MOZILLA WERE TOO BUSY
    // DROOLING ON THEIR KEYBOARDS TO MAKE FIREFOX SUPPORT FAVICONS IN A REMOTELY
    // REASONABLE WAY when I'm done with this site I'm going into suicide bombing
    link(rel='icon', type='image/png', href='/img/favicon.png?')
    block head
  body
    .top-pane
      span.title Netifly
    .cd-main
      block content
