extends layout

block content
  .flex-container
    - for(var i=0;i<200;i++)
      li.flex-item
        a(href='/music/song/'+0)
          div.cd-artist= artists[0].artist
          div.cd-title= artists[0].title
