@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100')




li
  list-style: none


body
	font-family: "Alegreya Sans SC", sans-serif, arial
	margin: 0
	padding: 0
	border: 0
a
	text-decoration: none
	color: #fff



table
	border-collapse: collapse
	border-spacing: 0

/* --------------------------------

.top-pane

-------------------------------- */
.top-pane
  height: 6rem
  line-height: 6rem
  text-align: center
	margin: 0
	padding: 0
	border: 0


.top-pane > h1
  font-size: 2.2rem

@media only screen and (min-width: 600px)
  .top-pane
    height: 200px
    line-height: 200px
.top-pane > span.title
  font-size: 6rem
  margin: 0

.top-pane hr
  height: 1px
  width: 60rem
  border: none
  background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, #000 50%, rgba(0,0,0,0) 100%)


/* --------------------------------

.cd-*

-------------------------------- */
.cd-main
  padding: 0
  margin-top: 100px
  list-style: none

  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  -webkit-flex-flow: row wrap
  justify-content: space-around
	align-content: flex-end
  background: black


.cd-item
  background: black
  padding: 5px
  width: 200px
  height: 150px
  margin-top: 10px
	float: left

  line-height: 150px
  color: white
  font-weight: bold
  font-size: .6rem
  text-align: center
